<!DOCTYPE html>
<html>
<head>
  <title>CRM</title>
<head>
<body>
{% comment %} this will include the navbar file in the layout which has been separated because how full of code it will become {% endcomment %}
  {% include 'accounts/navbar.html' %}

  {% block content %}
  
  
  {% endblock%}

  <hr>
  <h5>Footer</h5>
</body>
</html>

{% comment %} when there is redundant code you can create a main template file that will render all other html files in a layout {% endcomment %}

{% comment %} when you create a block you need to name it, in this case 'content' and then go into each child file to let it know to inherit the layout. {% endcomment %}